@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    --poppins: 'Poppins', sans-serif;
    --blue: #1061eb;
    --darkblue: #053584;
    --yellow: #FCDD3A;
    --darkyellow: #ebc720;
    --red: #EB2E39;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* global, body, content */
body {
    margin: 0;
    font-family: var(--poppins);
}

/* images */
img {
    width: 100%;
}

.img-small {
    width: 40%;
}

/* atoms */

.arrow--blue {
    font-size: 6rem;
    color: var(--blue);
}

.arrow--white {
    font-size: 8rem;
    color: white;
}

/* navbar component */
.container {
    margin: 2rem 6rem;
}

.nav-bar {
    display: flex;
    border-bottom: 6px solid black;
    justify-content: space-between;
}

.nav-bar__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.nav-bar__list {
    list-style: none;
    letter-spacing: 2px;
    display: flex;
}

.nav-bar__list--item a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 0 2rem;
    margin-bottom: 0;
}

.nav-bar__list--item-active a {
    color: #4287f5;
}

a:hover {
    color: #71a0eb;
}

/* hero section component */

.hero-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.hero-section__text {
    margin: 0;
    font-size: 9rem;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 6rem;
    display: inline-block;
}

.hero-section__text-sub {
    top: 14.5rem;
    left: 6rem;
}

.hero-section__icon {
    position: absolute;
    top: 17rem;
    left: 6rem;
    font-size: 7rem;
}

/* about component */
.about-section {
    background-color: var(--blue);
}

.about-section__header {
    padding: 5rem 6rem 2rem 6rem;
    font-size: 4rem;
    color: white;
    line-height: 4.5rem;
}

.about-section__header-blue {
    font-size: 4rem;
    color: var(--darkblue);
}

.about-section__body {
    color: white;
    padding: 0 8rem 7rem 6rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: lighter;
}

/* portfolio component */

.portfolio-section {
}

.portfolio-section__list {
    list-style-type: none;
    padding: 6rem;
}

.portfolio-section__list-title {
    color: var(--blue);
    font-size: 9rem;
    font-weight: bolder;
    border-bottom: 6px solid var(--blue);
}

.portfolio-section__list-item {
    color: var(--red);
    font-size: 5rem;
    font-weight: bolder;
    padding: 0 0 2rem 0;
    margin: 0;

}

.portfolio-section__list-item--sub {
    color: var(--red);
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.portfolio-section-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid var(--blue);
}

.portfolio-section__title {
    flex-direction: column;
}

.portfolio-section__icon {
    font-size: 4rem;
}

/* services component */
.services-section {
    background-color: var(--blue);
    padding: 4rem 6rem;
}

.services-section__header {
    color: white;
    padding: 1rem 0;
    font-size: 9rem;
    border-bottom: 4rem solid var(--yellow);
    margin: 2rem;
}

.services-section__list {
    border-top: 4rem solid var(--yellow);
    margin: 2rem;
    color: white;
    padding: 5rem 0;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: justify;
}

/* team component */
.team-section {
    background-color: var(--red);
    padding: 4rem 6rem;
}

.team-section__header {
    color: white;
    font-size: 8rem;
    padding: 2rem 2rem 0 2rem;
    margin: 0;
}

.team-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.team-section__card {
    padding: 5rem;
}

.team-section__card--offset {
    padding-top: 20rem;
}

.team-section__img {
    box-shadow: -15px 15px 1px 1px var(--darkyellow);
}

.team-section__title {
    color: white;
    font-size: 2.5rem;
    padding: 2rem 0 1rem 0;
    margin: 0;
}

.team-section__title-sub {
    color: white;
    opacity: .6;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

/* footer component */
.footer-section {
  position: relative;
}

.footer__img {
  height: 50rem;
}

.flex-container {
  z-index: 1;
  position: absolute;
  top: 1rem;
  padding: 4rem 6rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__header {
  color: white;
  font-size: 9rem;
  padding: 0 20rem 1rem 0;
  margin: 0;
  border-bottom: 6px solid white;
}

.footer__item-title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 3rem;
}

.footer__item-email {
  color: white;
  margin: 0;
  font-size: 3rem;
  padding-top: .2rem;
}

.footer__item-address {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  line-height: 50px;
}

.left {
  position: absolute;
  z-index: 1;
  top: 25rem;
  right: 10rem;
}
